 
 
 
 
 /* CSS proprio ========================================================== */
hr {
    border-top: 20px solid red;
    width: 100%;
}

.td-contatos {
    padding: 7px;
    text-align: end;
}

h1, h3{
    text-align: center;
}

.paragrafo-do-card
{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.tr-setas
{
  line-height: 0.5;
  padding: 0px;
}
/* ============================================================================ */





/* From Uiverse.io by ferlagher =============================================== */ 
.button-sobre-nos {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #BF0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.button-sobre-nos::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.button-sobre-nos:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.button-sobre-nos:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

/* ============================================================================ */





/* Ícone para responsividade das telas  ======================================== */

@media (max-width: 576px) {
  .icon-responsive {
      font-size: 4rem; 
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .icon-responsive {
      font-size: 5rem;
  }
}

@media (min-width: 769px) {
  .icon-responsive {
      font-size: 6rem; 
  }
}

@media (min-width: 1200px) {
  .icon-responsive {
      font-size: 9rem;
  }
}
/* ============================================================================ */





/* Setas para telas personalizadas  =========================================== */
@media (max-width: 576px) {
  .responsive-svg {
      width: 50px;
      height: 50px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .responsive-svg {
      width: 80px;
      height: 80px;
  }
}

@media (min-width: 769px) {
  .responsive-svg {
      width: 100px;
      height: 100px;
  }
}

@media (min-width: 1200px) {
  .responsive-svg {
      width: 150px;
      height: 150px;
  }
}
/* ============================================================================ */





/* H4 responsivo ============================================================== */
.h4-acoes {
  font-size: 20px; /* Tamanho padrão */
}

@media (max-width: 576px) {
  .h4-acoes {
      font-size: 120%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .h4-acoes {
      font-size: 120%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .h4-acoes {
      font-size: 90%;
  }
}

@media (min-width: 993px) {
  .h4-acoes {
      font-size: 160%;
  }
}
/* ============================================================================ */





/* H1 responsivo ============================================================== */
.h1-acoes {
  font-size: 100%; /* Tamanho padrão */
}

@media (max-width: 576px) {
  .h1-acoes {
      font-size: 150%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .h1-acoes {
      font-size: 150%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .h1-acoes {
      font-size: 170%;
  }
}

@media (min-width: 993px) {
  .h1-acoes {
      font-size: 230%;
  }
}
/* ============================================================================ */





/* Tablet  ==================================================================== */
.tablet-container {
  position: relative;
  width: 80%; /* Ajusta a largura do tablet conforme o tamanho da tela */
  max-width: 600px; /* Largura máxima do tablet */
  height: 90%; /* Altura do tablet */
  max-height: 800px; /* Altura máxima do tablet */
  min-height: 400px;
  margin-top: 10%;
  background-color: #e0e0e0; /* Cor de fundo cinza claro */
  border-radius: 30px; /* Bordas arredondadas do tablet */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra do tablet */
}

/* Estilo para o botão na parte inferior do tablet */
.tablet-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 20px;
  background-color: #b0b0b0; /* Cor cinza para o botão */
  border-radius: 20px; /* Bordas arredondadas do botão */
}

/* Estilo para as imagens dentro do tablet */
.tablet-container img {
  width: 90%;
  height: auto;
  display: block;
}

/* Estilo para a imagem superior */
.img-top {
  height: 15%; /* Altura da imagem superior */
  margin-top: 5%;
}

/* Estilo para a imagem central */
.img-center {
  height: 40%; /* Altura da imagem central */
  margin-left: 5%;
  margin-right: 5%;
}

/* Estilo para a imagem inferior */
.img-bottom {
  height: 15%; /* Altura da imagem inferior */
}
/* ============================================================================ */





.container-ex {
  max-width: 100%;
  height: 100%;
}