 
 
 
 
 /* CSS proprio ========================================================== */
hr {
    border-top: 20px solid red;
    width: 100%;
}

.td-contatos {
    padding: 7px;
    text-align: end;
}

h1, h3{
    text-align: center;
}

.paragrafo-do-card
{
    text-align: center;
    font-weight: bold;
}

    @media (max-width: 576px) {
      .paragrafo-do-card {
        font-size: 55%;
      }
    }

    @media (min-width: 1220px) {
      .paragrafo-do-card {
        font-size: 120%;
      }
    }


    @media (max-width: 576px) {
      .texto-do-botao {
        font-size: 70%;
      }
    }

    @media (min-width: 1220px) {
      .texto-do-botao {
        font-size: 120%;
      }
    }

.tr-setas
{
  line-height: 0.5;
  padding: 0px;
}
/* ============================================================================ */





/* From Uiverse.io by ferlagher =============================================== */ 
.button-sobre-nos {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #BF0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.button-sobre-nos::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.button-sobre-nos:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.button-sobre-nos:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

/* ============================================================================ */





/* Ícone para responsividade das telas  ======================================== */

@media (max-width: 576px) {
  .icon-responsive {
      font-size: 4rem; 
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .icon-responsive {
      font-size: 5rem;
  }
}

@media (min-width: 769px) {
  .icon-responsive {
      font-size: 6rem; 
  }
}

@media (min-width: 1200px) {
  .icon-responsive {
      font-size: 9rem;
  }
}
/* ============================================================================ */





/* Setas para telas personalizadas  =========================================== */
@media (max-width: 576px) {
  .responsive-svg {
      width: 50px;
      height: 50px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .responsive-svg {
      width: 80px;
      height: 80px;
  }
}

@media (min-width: 769px) {
  .responsive-svg {
      width: 100px;
      height: 100px;
  }
}

@media (min-width: 1200px) {
  .responsive-svg {
      width: 150px;
      height: 150px;
  }
}
/* ============================================================================ */





/* H4 responsivo ============================================================== */
.h4-acoes {
  font-size: 20px; /* Tamanho padrão */
}

@media (max-width: 576px) {
  .h4-acoes {
      font-size: 120%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .h4-acoes {
      font-size: 120%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .h4-acoes {
      font-size: 90%;
  }
}

@media (min-width: 993px) {
  .h4-acoes {
      font-size: 140%;
  }
}

@media (min-width: 1200px) {
  .h4-acoes {
      font-size: 180%;
  }
}
/* ============================================================================ */





/* H1 responsivo ============================================================== */
.h1-acoes {
  font-size: 100%; /* Tamanho padrão */
}

@media (max-width: 576px) {
  .h1-acoes {
      font-size: 150%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .h1-acoes {
      font-size: 150%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .h1-acoes {
      font-size: 150%;
  }
}

@media (min-width: 993px) {
  .h1-acoes {
      font-size: 200%;
  }
}

@media (min-width: 1200px) {
  .h1-acoes {
      font-size: 230%;
  }
  
}
/* ============================================================================ */





/* Tablet  ==================================================================== */
.tablet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: #f0f0f0;
  margin-right: 5%
}

@media (min-width: 0px) {
  .tablet-container {
    width: 500px; /* Largura maior para telas maiores */
    height: 400px; /* Altura maior para telas maiores */
  }
  @media (min-width: 0px) and (max-width: 577px) {
    .tablet-container{
      width: 300px;
      height: 400px;
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .tablet-container{
      width: 400px;
      height: 500px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1100px) {
    .tablet-container{
      width: 320px;
      height: 420px;
    }
  }
  
  @media (min-width: 1100px) and (max-width: 1400px) {
    .tablet-container{
      width: 400px;
      height: 500px;
    }
  }
  @media (min-width: 1400px) {
    .tablet-container{
      width: 500px;
      height: 600px;
    }
    
  }
}


.tablet-fundo {
  position: relative;
  width: 100%; /* Ajusta a largura do tablet conforme o tamanho da tela */
  height: 100%; /* Altura do tablet */
  background-color: #e0e0e0; /* Cor de fundo cinza claro */
  border-radius: 30px; /* Bordas arredondadas do tablet */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra do tablet */
}

/* Estilo para o botão na parte inferior do tablet */
.tablet-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 20px;
  background-color: #b0b0b0; /* Cor cinza para o botão */
  border-radius: 20px; /* Bordas arredondadas do botão */
  margin-bottom: 2%;
}

/* Estilo para as imagens dentro do tablet */
.tablet-container img {
  width: 90%;
  height: auto;
  display: block;
}

/* Estilo para a imagem superior */
.img-top {
  height: 15%; /* Altura da imagem superior */
  margin-top: 5%;
}

/* Estilo para a imagem central */
.img-center {
  height: 40%; /* Altura da imagem central */
  margin-left: 5%;
  margin-right: 5%;
}

/* Estilo para a imagem inferior */
.img-bottom {
  height: 15%; /* Altura da imagem inferior */
}
/* ============================================================================ */





/* paragrafo responsivo ======================================================= */
.p-linha-do-tempo {
  font-size: 20px; /* Tamanho padrão */
}

@media (max-width: 576px) {
  .p-linha-do-tempo {
      font-size: 200%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .p-linha-do-tempo {
      font-size: 200%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .p-linha-do-tempo {
      font-size: 120%;
  }
}

@media (min-width: 993px) {
  .p-linha-do-tempo {
      font-size: 160%;
  }
}
/* ========================================================================== */





/* linha do tempo =========================================================== */
.timeline-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

.timeline-container h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.timeline {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  position: relative;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 3px;
  background: #C43334;
  z-index: 1;
}

.timeline-item {
  position: relative;
  width: 15%;
  min-width: 120px;
  text-align: center;
  z-index: 2;
  margin-bottom: 50px;
}

.timeline-item h3 {
  background-color: #ff4c4c; /* Cor de fundo para as caixas com o ano */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.timeline-item p {
  font-size: 1em;
  color: #555;
  margin: 0;
  padding: 0 10px;
}

.timeline-item::after {
  content: '';
  position: absolute;
  top: calc(50% - 10px);
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #C43334;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
/* =============================================================




/* =============================================================== */




.td-cabecario {
  color: #C43334;
  font-weight: bold;
}


.titulos {
  color: #962020;
}



.li-ajude {
  font-weight: bold;
  color: #962020;

}

  @media (max-width: 576px) {
    .li-ajude {
        font-size: 80%;
    }
  }

  @media (min-width: 993px) {
    .li-ajude {
        font-size: 110%;
    }
  }





  .qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
  }




  .paragrafo-voluntario {
    font-size: 100%;
    color: #962020;
  }

  @media (min-width: 769px) and (max-width: 992px) {
    .paragrafo-voluntario {
        font-size: 120%;
    }
  }

  @media (min-width: 993px) {
    .paragrafo-voluntario {
        font-size: 140%;
    }
  }