.texto-padrao{
    color: white;
}

table{
  width: 100%;
}

.circle {
    width: 70%; /* Tamanho do círculo */
    height: 70%; /* Tamanho do círculo */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd; /* Borda opcional */
    background-color: #fff; /* Cor de fundo opcional */
}

.circle-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem preencha o círculo */
}

.margem-foto-nome{
    margin-left: 1%;
}

.paragrafo-padrao{
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 5%;
}

.celula-contato{
  margin-right: 5%;
}


@media (max-width: 650px) {
  .titulo-h1{
    font-size: 120%;
  }
  .titulo-h3{
    font-size: 125%;
  }
  .titulo-h4{
    font-size: 120%;
  }
  .titulo-h5{
    font-size: 90%;
  }
  .paragrafo-padrao{
    font-size: 90%;
  }
  .socialContainer{
    width: 70px;
  }
}

@media (max-width: 950px) and (min-width: 650px) {
  .titulo-h1{
    font-size: 180%;
  }
  .titulo-h3{
    font-size: 160%;
  }
  .titulo-h4{
    font-size: 130%;
  }
  .titulo-h5{
    font-size: 120%;
  }
  .paragrafo-padrao{
    font-size: 100%;
  }
  .socialContainer{
    width: 100px;
  }
}

@media (max-width: 1200px) and (min-width: 950px) {
  .titulo-h1{
    font-size: 220%;
  }
  .titulo-h3{
    font-size: 250%;
  }
  .titulo-h4{
    font-size: 170%;
  }
  .titulo-h5{
    font-size: 180%;
  }
  .paragrafo-padrao{
    font-size: 110%;
  }
  .socialContainer{
    width: 160px;
  }
}

@media (max-width: 1500px) and (min-width: 1200px) {
  .titulo-h1{
    font-size: 250%;
  }
  .titulo-h3{
    font-size: 150%;
  }
  .titulo-h4{
    font-size: 140%;
  }
  .titulo-h5{
    font-size: 120%;
  }
  .paragrafo-padrao{
    font-size: 100%;
  }
  .socialContainer{
    width: 90px;
  }
}

@media (min-width: 1500px) {
  .titulo-h1{
    font-size: 250%;
  }
  .titulo-h3{
    font-size: 190%;
  }
  .titulo-h4{
    font-size: 150%;
  }
  .titulo-h5{
    font-size: 150%;
  }
  .paragrafo-padrao{
    font-size: 115%;
  }
  .socialContainer{
    width: 130px;
  }
  
}





/* From Uiverse.io by vinodjangid07 */ 

/* for all social containers*/
.socialContainer {
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #e436b0;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #54646b;
  transition-duration: .3s;
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: .3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #289c41;
  transition-duration: .3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}