 
 
 
 
 /* CSS proprio =============================================================== */
hr {
    border-top: 20px solid red;
    width: 100%;
}

.td-contatos {
    padding: 7px;
    text-align: end;
}

h1, h3{
    text-align: center;
}

.tr-setas
{
  line-height: 0.5;
  padding: 0px;
}

.td-cabecario {
  color: #C43334;
  font-weight: bold;
  font-size: 90%;
}


.titulos {
  color: #962020;
}

.qr-code {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* ============================================================================ */




/* Texto dentro do card ======================================================= */
.paragrafo-do-card
{
    text-align: center;
    font-weight: bold;
}

    @media (max-width: 576px) {
      .paragrafo-do-card {
        font-size: 55%;
      }
    }

    @media (min-width: 1220px) {
      .paragrafo-do-card {
        font-size: 120%;
      }
    }


    @media (max-width: 576px) {
      .texto-do-botao {
        font-size: 70%;
      }
    }

    @media (min-width: 1220px) {
      .texto-do-botao {
        font-size: 120%;
      }
    }
/* ============================================================================ */





/* Ícone para responsividade das telas  ======================================= */

@media (max-width: 769px) {
  .icon-responsive {
      font-size: 4rem; 
  }
}

@media (min-width: 769px) {
  .icon-responsive {
      font-size: 5rem; 
  }
}

@media (min-width: 1200px) {
  .icon-responsive {
      font-size: 7rem;
  }
}

@media (min-width: 1400px) {
  .icon-responsive {
      font-size: 9rem;
  }
}
/* ============================================================================ */





/* Setas para telas personalizadas  =========================================== */
@media (max-width: 576px) {
  .responsive-svg {
      width: 50px;
      height: 50px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .responsive-svg {
      width: 80px;
      height: 80px;
  }
}

@media (min-width: 769px) {
  .responsive-svg {
      width: 100px;
      height: 100px;
  }
}

@media (min-width: 1200px) {
  .responsive-svg {
      width: 150px;
      height: 150px;
  }
}
/* ============================================================================ */





/* H4 responsivo ============================================================== */
.h4-acoes {
  font-size: 20px; /* Tamanho padrão */
}

@media (max-width: 576px) {
  .h4-acoes {
      font-size: 120%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .h4-acoes {
      font-size: 120%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .h4-acoes {
      font-size: 90%;
  }
}

@media (min-width: 993px) {
  .h4-acoes {
      font-size: 140%;
  }
}

@media (min-width: 1200px) {
  .h4-acoes {
      font-size: 180%;
  }
}
/* ============================================================================ */





/* H1 responsivo ============================================================== */
.h1-acoes {
  font-size: 100%; /* Tamanho padrão */
}

@media (max-width: 576px) {
  .h1-acoes {
      font-size: 150%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .h1-acoes {
      font-size: 150%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .h1-acoes {
      font-size: 150%;
  }
}

@media (min-width: 993px) {
  .h1-acoes {
      font-size: 200%;
  }
}

@media (min-width: 1200px) {
  .h1-acoes {
      font-size: 230%;
  }
  
}
/* ============================================================================ */





/* Tablet  ==================================================================== */
.tablet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: #f0f0f0;
  margin-right: 5%
}

@media (min-width: 0px) {
  .tablet-container {
    width: 500px; /* Largura maior para telas maiores */
    height: 400px; /* Altura maior para telas maiores */
  }
  @media (min-width: 0px) and (max-width: 577px) {
    .tablet-container{
      width: 300px;
      height: 400px;
    }
  }
  
  @media (min-width: 577px) and (max-width: 768px) {
    .tablet-container{
      width: 400px;
      height: 500px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1100px) {
    .tablet-container{
      width: 320px;
      height: 420px;
    }
  }
  
  @media (min-width: 1100px) and (max-width: 1400px) {
    .tablet-container{
      width: 400px;
      height: 500px;
    }
  }
  @media (min-width: 1400px) {
    .tablet-container{
      width: 500px;
      height: 600px;
    }
    
  }
}

.tablet-fundo {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #efefef; 
  border-radius: 30px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tablet-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 20px;
  background-color: #b0b0b0;
  border-radius: 20px;
  margin-bottom: 2%;
}

.tablet-container img {
  width: 90%;
  height: auto;
  display: block;
}

.img-top {
  height: 15%;
  margin-top: 8%;
}

.img-center {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.img-bottom {
  height: 15%; 
}
/* ============================================================================ */





/* paragrafo responsivo ======================================================= */
.p-linha-do-tempo {
  font-size: 20px;
}

@media (max-width: 576px) {
  .p-linha-do-tempo {
      font-size: 200%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .p-linha-do-tempo {
      font-size: 200%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .p-linha-do-tempo {
      font-size: 120%;
  }
}

@media (min-width: 993px) {
  .p-linha-do-tempo {
      font-size: 160%;
  }
}
/* ============================================================================ */





/* lista de itens para doação ================================================= */
.li-ajude {
  font-weight: bold;
  color: #962020;

}

  @media (max-width: 576px) {
    .li-ajude {
        font-size: 80%;
    }
  }

  @media (min-width: 993px) {
    .li-ajude {
        font-size: 110%;
    }
  }
/* ============================================================================ */





/* ============================================================================ */
  .paragrafo-voluntario {
    font-size: 100%;
    color: #962020;
  }

  @media (min-width: 769px) and (max-width: 992px) {
    .paragrafo-voluntario {
        font-size: 120%;
    }
  }

  @media (min-width: 993px) {
    .paragrafo-voluntario {
        font-size: 140%;
    }
  }
/* ============================================================================ */





/* Responsividade do link Pag inicial ========================================= */

.link-pag-inicial {
  color: #c43334;
  font-size: 100%;
}

@media (max-width: 576px) {
  .link-pag-inicial {
      font-size: 80%;
  }
}

@media (min-width: 577px) and (max-width: 800px) {
  .link-pag-inicial {
      font-size: 100%;
  }
}

@media (min-width: 800px) {
  .link-pag-inicial {
      font-size: 150%;
  }
}
/* ============================================================================ */













/* From Uiverse.io by ferlagher =============================================== */ 
.button-sobre-nos {
  position: relative;
  font-size: 1.2em;
  padding: 0.7em 1.4em;
  background-color: #BF0426;
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  color: #DEDEDE;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}

.button-sobre-nos::before {
  position: absolute;
  content: '';
  height: 0;
  width: 0;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgba(150,4,31,1) 50%, rgba(191,4,38,1) 60%);
  border-radius: 0 0 0.5em 0;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.button-sobre-nos:hover::before {
  width: 1.6em;
  height: 1.6em;
}

.button-sobre-nos:active {
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
  transform: translate(0.1em, 0.1em);
}

/* ============================================================================ */





/* ================ LINHA DO TEMPO ============================================ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

a {
  color: inherit;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #456990;
  color: #fff;
}

/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: #f45b69;
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 1200px) and (min-width: 1000px) {
  .espaco-lateral {
    margin-left: -14%;
  }
}

@media (min-width: 800px) {
  .espaco-lateral {
    margin-left: -10%;
  }
}

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 16%;
  height: 3px;
  background: #C43334;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .timeline ol li {
    width: 15%;
  }
}

@media (max-width: 1000px) {
  .timeline ol li {
    width: 14%;
  }
}

.timeline ol li:last-child {
  width: 40%;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #f45b69;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: #efefef;
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .timeline ol li div {
    width: 260px;
    font-size: 0.95rem;

  }
}

@media (max-width: 1000px) {
  .timeline ol li div {
    width: 240px;
    font-size: 0.9rem;

  }
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: #efefef transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent #efefef;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: 0.5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 800px) {
  .timeline ol,
  .timeline ol li {
    width: auto;
  }

  .timeline ol {
    padding: 0;
    transform: none !important;
  }

  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }

  .timeline ol li:first-child {
    margin-top: 25px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }

  .timeline ol li div {
    position: static;
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }

  .timeline ol li:nth-child(odd) div {
    transform: none;
  }

  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }

  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}
